html {
	background-color: #202020;
	scrollbar-width: thin;
	scrollbar-color: #5d5d5d #363636;
}

header {
	padding: 10px;
}

.nav {
	width: 100%;
	box-sizing: border-box;
	line-height: 2rem;
	background-color: #363636;
	color: white;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	cursor: pointer;
	line-height: 2.5rem;
	font-size: 1.5rem;
	width: 8rem;
	text-align: center;
	background-color: #3f3f3f;
	margin: 5px 10px;
	border-radius: 10px;
	white-space: nowrap;
	padding: 0 10px;
	user-select: none;
}

.warning {
	margin-left: auto;
}

.text-disabled {
	color: #5d5d5d;
}

/* 聊天框样式 */
:root {
	--input-height: 80px;
}

.cosmos-body {
	display: flex;
	flex-direction: row;
	/* 水平布局 */
	height: calc(100vh - 5rem);
	column-gap: 10px;
	/* 减去 header 的高度 */
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	/* 占据全部宽度 */
}

.cosmos-chat {
	flex: 1;
	/* 占据剩余宽度 */
	display: flex;
	flex-direction: column;
	background-color: #363636;
	border-radius: 20px;
	overflow: hidden;
	width: 100%;
	/* 占据全部宽度 */
	height: 100%;
	/* 占据全部高度 */
}

.messages {
	flex: 1;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	/* padding-bottom: var(--input-height); */
}

.messages::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.messages::-webkit-scrollbar-track {
	background: #363636;
	border-radius: 4px;
}

.messages::-webkit-scrollbar-thumb {
	background: #5d5d5d;
	border-radius: 4px;
	transition: background 0.3s;
}

.messages::-webkit-scrollbar-thumb:hover {
	background: #3f3f3f;
}

.messages {
	scrollbar-width: thin;
	scrollbar-color: #5d5d5d #363636;
}

.message {
	max-width: 70%;
	width: max-content;
	padding: 12px 20px;
	border-radius: 20px;
	background: #5d5d5d;
	color: #fff;
	word-break: break-word;
	animation: fadeIn 0.3s ease-in;
}

.message.user-message {
	background: #3f3f3f;
	align-self: flex-end;
}

.message.time-msg {
	align-self: center;
	text-align: center;
	color: gray;
	font-size: 18px;
	background-color: transparent;
}

.input-container {
	position: sticky;
	bottom: 0;
	background: #363636;
	padding: 20px;
	box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
	display: flex;
	gap: 10px;
}

#message-input {
	flex: 1;
	padding: 15px;
	border: none;
	border-radius: 25px;
	background: #5d5d5d;
	color: #fff;
	font-size: 16px;
}

#send-button {
	padding: 15px 30px;
	border: none;
	border-radius: 25px;
	background: #3f3f3f;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s;
}

#send-button:hover {
	background: #5d5d5d;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
	margin: 0;
}

.name {
	width: 50%;
	height: 1vh;
}

.cosmos-right {
	display: flex;
	flex-direction: column;
	/* 垂直布局 */
	box-sizing: border-box;
	/* 包含 padding */
	height: 100%;
	/* 确保 cosmos-right 高度撑满父元素 */
}

.dashboard {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	column-gap: 10px;
	justify-content: space-between;
	/* border: aqua 2px solid; */
	max-height: fit-content;
	min-height: fit-content;
}

.heart-section {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* 水平布局 */
	justify-content: space-between;
	align-items: stretch;
	width: 73%;
	row-gap: 13px;
}

.heart-rate {
	width: 100%;
	/* 占据全部宽度 */
	/* background-image: url('../res/animation/heart_beat/heart_beat_0.gif'); */
	/* 替换为你的心跳图 URL */
	mix-blend-mode: lighten;
	/* 混合模式 */
	background-size: cover;
	/* 覆盖整个区域 */
	background-position: center;
	/* 居中显示 */
	display: flex;
	justify-content: center;
	/* 垂直居中 */
	align-items: center;
	/* 水平居中 */
	opacity: 0.5;
	/* 设置透明度 */
	box-sizing: border-box;
	/* 包含 border */
}

.bpm {
	color: #5d5d5d;
	font-size: 6em;
	z-index: 9;
}

.label {
	width: 100%;
	min-height: 40px;
	color: white;
	font-size: 1.5em;
	background-image: url('../res/img/heart_rate.png');
	background-size: 100% 100%;
	/* 图片自适应宽和高 */
	background-repeat: no-repeat;
	/* 防止图片重复 */
}

.metrics {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 30%;
	height: 100%;
	align-items: stretch;
}

.metric {
	text-align: center;
	height: auto;
	flex: 1;
	display: flex;
	padding-left: 3px;
	padding-top: 3px;
	flex-direction: column;
	align-items: center;
}

.bars {
	margin: 0 8px;
	width: 25px;
	height: 100%;
	background: #2d2d2d;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
}

.bar {
	bottom: 0;
	background-color: #2d2d2d;
	width: 100%;
	position: absolute;
	transition: height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 三个柱状图 */
.OO {
	background-color: #78a074;
}

.HOO {
	background-color: #6d98a1;
}

.ENG {
	background-color: darkgoldenrod;
}

/*  */
.metric-label {
	color: #fff;
	font-size: 0.8em;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	line-height: 24px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
}

@keyframes pulse {

	0%,
	100% {
		transform: scale(1);
		opacity: 0.9;
	}

	50% {
		transform: scale(1.02);
		opacity: 1;
	}
}

.Aliya {
	color: white;
	border-radius: 10px;
	font-size: 1.5rem;
	padding: 0 0 0 15px;
	top: 0;
	background: #454545;
}

/* right */

.status-labels {
	position: absolute;
	top: 6px;
	left: 0px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	color: #ecf0f1;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.status-label {
	opacity: 0.3;
	transition: opacity 0.3s;
}

.status-label.active {
	opacity: 1;
}

/* 开关核心样式 */
.switch {
	width: 5rem;
	height: 3.6rem;
	background: #202020;
	border-radius: 6px;
	position: relative;
	top: 4px;
	cursor: pointer;
	margin: 20px auto;
	transition: all 0.3s cubic-bezier(0.4, 0, 0, 0.2);
}

.switch.active {
	background: #464646;
	/* 开启状态颜色 */
}

.switch-button {
	width: 2.5rem;
	height: 4rem;
	background: #646464;
	position: absolute;
	top: -3.5px;
	left: 0px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: inherit;
	/* 继承父级过渡效果 */
}

.switch.active .switch-button {
	left: calc(100% - 40px);
}

.s-label {
	width: 55px;
	text-align: center;
	color: #ecf0f1;
	font-family: Arial, sans-serif;
	font-size: 17px;
	letter-spacing: 1px;
	position: absolute;
	left: 30px;
	top: 100px;
}

.cosmos-right-switch {
	/* width: 97%; */
	height: 298px;
	background: #454545;
	border-radius: 13px;
	margin-top: 10px;
	padding: 1vh;
	/* flex: 1; 让按钮部分自适应剩余高度 */
}

.switch-right-bg {
	position: relative;
	height: 100%;
	/* 让背景图高度撑满父元素 */
	background-image: url(../res/img/cosmos_console.png);
	background-size: contain;
	/* 修改为 contain 以保持图片比例 */
	background-position: center;
	background-repeat: no-repeat;
	/* 防止图片重复 */
}

.switch-bg {
	width: 6rem;
	height: 4.2rem;
	border-radius: 8px;
	margin-bottom: 1px;
}

.switch-wrapper {
	position: relative;
	border-radius: 10px;
	padding: 7px;
}

.switch-container {
	position: relative;
	top: -9px;
	display: grid;
	grid-template-columns: repeat(3, 5fr);
	gap: 1.6rem;
	padding: 0.5rem;
	border-radius: 15px;
	justify-items: center;
	align-items: center;
}

.switch-wrapper:nth-child(4) {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
	margin-top: -7px;
	justify-self: flex-end;
	pointer-events: none;
}

#switch-bg {
	width: 380px;
	margin: 10px;
}

/* 适用于所有移动设备 */
@media only screen and (max-width: 850px) {

	/* 在这里编写适用于移动设备的 CSS */
	.not-moble {
		display: none;
	}

	.switch-right-bg {
		width: max-content;
		background-size: contain;
		background-position: center;
		position: relative;
		left: 50%;
		transform: translate(-50%);
	}

	.label {
		height: 4rem;
	}

	.cosmos-body {
		width: 100%;
		flex-direction: column;
		/* 垂直布局 */
		/* height: auto; */
	}

	.cosmos-chat {
		min-height: 300px;
	}

	.cosmos-right {
		margin-top: 10px;
	}

	.player-options-container{
		min-width: 97%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
	}
}

@media only screen and (max-width: 650px) {
	.warning {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.text-disabled {
		display: none;
	}
}

.player-options-container {
	flex: 1;
	/* 占据剩余高度 */
	background-color: #444444;
	border-radius: 20px;
	margin-top: 10px;
	display: flex;
	/* 使用 Flexbox 布局 */
	justify-content: center;
	/* 均匀分布按钮 */
	align-items: center;
	/* 垂直居中按钮 */
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* max-height: 300px; 设置容器的最大高度，超过这个高度时会出现滚动 */
	overflow-y: auto;
	/* 如果内容超出，显示垂直滚动条 */
	padding: 10px;
	/* 为容器添加一些内边距，防止内容贴着边缘 */

	width: 436px;
	word-wrap: break-word;
	word-break: normal;
}

.player-options-container button {
	background-color: #5d5d5d;
	color: #fff;
	border: none;
	border-radius: 10px;
	font-size: 1.2em;
	cursor: pointer;
	/* width: 436px; */

}

.chat-image {
	max-width: 200px;
	/* 限制最大宽度 */
	max-height: 200px;
	/* 限制最大高度 */
	border-radius: 10px;
	display: block;
	margin: 5px 0;
}

.radio-pin{
	height: 35px;
    position: relative;
    z-index: 9;
    top: -52px;
    left: 69px;
	pointer-events: none;
}